<table class="table  mt-3">
  <thead>
    <tr  class="">
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let task of taskList"
[ngClass]="task.completed ? 'table-success' : 'table-danger' "

    >
      <th>{{task.id}}</th>
      <td>{{task.title}}</td>
       <td>
        {{task.completed?"✔ (Done)":"❌ (Failed)"}}
      </td> 
     
    </tr>
<!--
  [class.table-dark]="!task.completed"
  [ngClass]="{'table-danger': !task.completed}"
  [ngClass]="task.completed ? 'table-success' : 'table-danger' "
  [ngClass]="{'table-success':task.completed, 'table-danger': !task.completed }"
  -->
  </tbody>
</table>